In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
data = pd.read_csv('new_data.csv')

In [3]:
clf =preprocessing.StandardScaler()

In [4]:
data.head()

,Depth,WS,RH (%),Temp (Deg),PM0.23_0.30,PM0.30_0.40,PM0.40_0.50,PM0.50_0.65,PM0.65_0.80,PM0.80_1,PM1_1.6,PM1.6_2,PM2_3,PM3_4,PM4_5,PM5_7.5,PM7.5_10,PM10_15,PM15_20
0,412.0,2.500000,71.5,26.0,10.1,10.1,8.7,4.2,1.3,1.0,1.1,3.5,3.9,0.8,0.4,0.7,0.0,0.0,0.0
1,412.0,3.333333,71.3,26.0,10.3,10.4,9.0,4.4,1.4,1.1,1.1,2.5,2.6,0.6,2.4,5.0,3.0,5.7,0.0
2,412.0,2.222222,71.1,26.1,9.8,9.7,7.9,3.7,1.2,0.8,1.1,2.4,3.1,0.0,0.3,0.0,0.0,0.0,0.0
3,412.0,2.222222,71.1,26.1,10.1,10.1,8.4,4.1,1.4,1.0,1.3,3.4,5.5,1.3,1.7,1.5,1.9,2.9,0.0
4,412.0,0.833333,71.0,26.1,10.4,10.5,8.9,4.8,1.8,1.8,2.1,3.8,5.2,2.1,1.5,5.3,4.9,5.8,15.7

In [5]:
scaled_data = pd.DataFrame()

In [6]:
data_points['Depth'] = clf.fit([data.Depth]).transform([data.Depth])[0]
data_points['WS'] = clf.fit([data.WS]).transform([data.WS])[0]
data_points['RH (%)'] = clf.fit([data['RH (%)']]).transform([data['RH (%)']])[0]
data_points['Temp (Deg)'] = clf.fit([data['Temp (Deg)']]).transform([data['Temp (Deg)']])[0]

In [7]:
scaled_data

      Depth   WS  RH (%)  Temp (Deg)
0       0.0  0.0     0.0         0.0
1       0.0  0.0     0.0         0.0
2       0.0  0.0     0.0         0.0
3       0.0  0.0     0.0         0.0
4       0.0  0.0     0.0         0.0
...     ...  ...     ...         ...
1858    0.0  0.0     0.0         0.0
1859    0.0  0.0     0.0         0.0
1860    0.0  0.0     0.0         0.0
1861    0.0  0.0     0.0         0.0
1862    0.0  0.0     0.0         0.0

[1863 rows x 4 columns]